NEXT_PUBLIC_APP_NAME=ArabicReader
DATABASE_URL=postgresql://neondb_owner:npg_Q4Nu5HgZrBpR@ep-misty-scene-ahmxoaav-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
RESEND_API_KEY=
